*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.menu ul{
    display: inline-flex;
    margin: 50px;
}
.menu ul li{
    list-style: none;
    margin: 0 20px;
    color: #b2
}
.active {
    color:#19dafa !important;
}
