* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
}
main {
    margin: 0;
    height: 100%;
    display: flex;;
  }
.container {
    text-align: center;
    margin: 10%;
    flex: 1;

  }
  .container p {
    padding: 20px;
  }
  button {
      height: 50px;
      width: 100px;
      padding: 10px;
      background-color: white;
      font-size: medium;
  }
  p{
    color: white;
    font-size: 20px;
  }
  h1 {
    font-size: 80px;
    color:white;
  }
  button:active{
    background-color:rgb(255, 43, 43);
    color:white;
    filter:none;
    font-weight: 800;
}
