*html, body {
    margin: 0;
    padding: 0;
    background-color:gray;

  }
img{
    height: 80vh;
}
.container-md{
    margin-top: 80px;
    
}h5,p{
    color: black;
    font-size: medium;
}
.text{
    height: 20vh;
    width: auto;
    padding: auto;
    background-color: white;
}