*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}
header {
    display: flex;
    width: 90%;
    height: 140px;
    margin: auto;
    align-items: center;
  
}
.name-container, 
.nav-links{
    display: flex;
    
}
.name-container{
    flex: 1;
    color: white;
    font-size: 40px;
    font-weight: 500;
}

nav{
    flex: 1;
}
.nav-links{
    justify-content:space-evenly;
    list-style: none;

}
.nav-link {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    margin: 5px;
 
}

.css-selector {
    background: linear-gradient(93deg, #fd76c8, #dfb663);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 24s ease infinite;
    -moz-animation: AnimationName 24s ease infinite;
    animation: AnimationName 24s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 58%}
    50%{background-position:100% 43%}
    100%{background-position:0% 58%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 58%}
    50%{background-position:100% 43%}
    100%{background-position:0% 58%}
}
@keyframes AnimationName { 
    0%{background-position:0% 58%}
    50%{background-position:100% 43%}
    100%{background-position:0% 58%}
}
.presentation {
    display:flex;
    width: 70%;
    margin: auto;
    align-items: center;


}
.introduction {
    flex: 1;
    animation: slide-right 1.5s ease;
    margin-bottom: 150px;
 
}
.intro-text {
    font-size: 50px;
    font-weight: 500px;
    color: white;
    margin-right: 50px;

}
p {
    font-size: 30px;
    font-weight: 100px;
    color: white;
   
}
.cover img {
    height: 500px;
    flex: 1;
    margin-top: 30px;
    margin-bottom: 30px;
    animation: drop 1.5s ease;
}

@keyframes drop{
    0%{
        opacity: 0;
        transform: translateY(-100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes slide-right{
    0%{
        opacity: 0;
        transform: translateX(-200px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}
    /*Profile*/

#About {
    width: 70%;
    display: flex;
    padding: 50px;
  

}
.container {
    align-items: center;
    height: 70%;
    width: 70%;
    color: white;

}

.profile-text{
    flex: 1;
    width: 50%;
    margin-right: 50px;
    font-size: 25px;
    color: black;
    animation: slide-right 1.5s ease;
    text-align: center;
      
}
.profile-text h2 {
    font-weight: 600;
}
.profile-text p {
    margin-top: 10px;
    color: black;

}
.profile-photo img {
    margin: auto;
    align-items: center;
    flex: 1;
}
.title-text{
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-bottom: 50px;
    animation: drop 1.5s ease;
}
#pages {
    width: 100%;
    padding: 70px 0;
}
.page-box {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    
}
.single-page {
    flex-basis: 48%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    color: white; 
      
}
.single-page img {
    width: 100%;
    border-radius: 7px;
    margin-bottom: 0px;
   
}
#gallery {
    width: 100%;
    align-items: center;
}
.illustration {
    text-align: center;
    border-radius: 7px;
    color: white; 
    margin-bottom: 50px;

}
.illustration img {
    animation: slide-right 1.5s ease;
    border-radius: 7px;
    height: 300px;
}
.Description {
    height: 500px;
    flex: 1;
    margin-left: 30px;
    animation: drop 1.5s ease;
}
